{% extends 'base.html' %}

{% block title %}Loading{% endblock %}

{% load static %}

{% block content %}
<body style="background-color: black">
<canvas id=c></canvas>
<h1 class="loader typewriter" id="typewriter">We are loading your results.</h1>
<!--
ALGORITHM:

structure:
- gen( x,y,z ):
	- create node at x,y,z // blue
	- append some children to list:
		- within a certain distance to parent
		- outside a certain distance from any node
		- within a global distance
	- if no children
		- don't append any
		- set as end node // green-ish

- gen( 0,0,0 ) // red
- while list has items
	- gen( position of first item )
	- remove first item


impulse behaviour:
- pick( node ):
	- if node is end node
		- pick( original node )
	- else
		- pick( random node from node children )

- pick( original node)

-->
</body><script src="{% static '../static/js/network.js' %}"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
<script>
$.ajax({
    url : "{% url 'execute_pipeline' %}",
    type : 'POST',
    data : {
        'visit_id' : '{{visit_id}}',
        'csrfmiddlewaretoken' : '{{ csrf_token }}'
    },
    dataType    :'json',
    success : function(data) { 
        console.log("Executing processing pipeline.")
        console.log(data)
    },
    error : function(request,error)
    {
        alert("Request: "+JSON.stringify(request));
    }
});

setInterval(function(){ 
    console.log('Checking status of processing progess')
    $.ajax({
        url : "{% url 'check_visit_status' %}",
        type : 'POST',
        cache : false,
        data : {
            'visit_id' : '{{visit_id}}',
            'csrfmiddlewaretoken' : '{{ csrf_token }}'
        },
        dataType    :'json',
        success : function(data) { 
            console.log(data.message)
            if (data.success == true){
                console.log("Navigating to presentation page.")
                window.location.href = "{% url 'results' visit_id=visit_id %}"; 
            }
            
        },
        error : function(request,error)
        {
            alert("Request: "+JSON.stringify(request));
        }
    });
}, 5000);
    
var setData = "Retrieving status.";
var newData;
    
var iSpeed = 10; // time delay of print out
var iIndex = 0; // start printing array at this posision
var iArrLength = setData.length; // the length of the text array
var iScrollAt = 20; // start scrolling up at this many lines
var shouldChange = 1;
var iTextPos = 0; // initialise text position
var sContents = ''; // initialise contents variable
var iRow; // initialise current row
var shouldStop = 0;
 

// continously reads status.txt for updates: 

function typewriter()
{
 sContents =  ' ';
 iRow = Math.max(0, iIndex-iScrollAt);
 var destination = document.getElementById("typewriter");
 
 destination.innerHTML = sContents + setData.substring(0, iTextPos);
 if ( iTextPos++ == iArrLength ) {
  iTextPos = 0;
  iIndex++;
  if ( iIndex != setData.length ) {
   iArrLength = setData.length;
   setTimeout("typewriter()", 500);
  }
 } else {
  setTimeout("typewriter()", iSpeed);
 }
}
  

</script></html>
{% endblock %}
