{% extends 'base.html' %}

{% block title %}Loading{% endblock %}

{% load static %}

{% block content %}
<body style="background-color: black">
<canvas id=c></canvas>
<h1 class="loader typewriter" id="typewriter">We are loading your results.</h1>
<!--
ALGORITHM:

structure:
- gen( x,y,z ):
	- create node at x,y,z // blue
	- append some children to list:
		- within a certain distance to parent
		- outside a certain distance from any node
		- within a global distance
	- if no children
		- don't append any
		- set as end node // green-ish

- gen( 0,0,0 ) // red
- while list has items
	- gen( position of first item )
	- remove first item


impulse behaviour:
- pick( node ):
	- if node is end node
		- pick( original node )
	- else
		- pick( random node from node children )

- pick( original node)

-->
</body><script src="{% static 'static/js/network.js' %}"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
<script>
 $.ajaxSetup({
    cache: false,
    async: false
});


    
var setData = "Retrieving status.";
var newData ;
    
$(function() {
    console.log(setData);
    setInterval(function() {
        checkText();
        console.log("Checking status at " + new Date().getTime());
    }, 1000);
});

// set up text to print, each item in array is new line
var iSpeed = 20; // time delay of print out
var iIndex = 0; // start printing array at this posision
var iScrollAt = 20; // start scrolling up at this many lines

var iTextPos = 0; // initialise text position
var sContents = ''; // initialise contents variable
var iRow; // initialise current row


// continously reads status.txt for updates: 
function checkText() {
    $.get('static/status.txt?_=' + new Date().getTime(), function(data) {
        
        // split status.txt by individual lines:
        var statusLines = data.split('\n')
        
        // if status.txt is empty, do nothing, else, parse data:
        if (statusLines.length<=1) {/*do nothing*/}
        else {
            
            // get secont to last line of status.txt:
            newData = statusLines[statusLines.length-2]
            console.log('newData: ' + newData)
            
        }
        
        if (newData == 'Done') {
            window.location.replace('/results')
        }
        
        if (setData == newData){
            
            return;
        } 
        else {
            var str = newData;
            setData = newData;
            console.log('setData: ' + setData)
            //typewriter(str);
            typewriter();
            shouldChange = 1;
            if(setData != undefined){
            }
        }
    });    
}
    
    
    
    
// set up text to print, each item in array is new line
//var set = new Array(
//"There are only 10 types of people in the world:", 
//"Those who understand binary, and those who don't"
//);
var iSpeed = 10; // time delay of print out
var iIndex = 0; // start printing array at this posision
var iArrLength = setData.length; // the length of the text array
var iScrollAt = 20; // start scrolling up at this many lines
var shouldChange = 1;
var iTextPos = 0; // initialise text position
var sContents = ''; // initialise contents variable
var iRow; // initialise current row
var shouldStop = 0;

// function typewriter() {
//     if(shouldChange == 1) {
//         iIndex = 0; 
//         iArrLength = setData.length; 
//         iScrollAt = 20; 
//         shouldChange = 0;
//         iTextPos = 0; 
//     }
//     if(shouldStop == 1) return;

//     sContents = ' ';
//     iRow = Math.max(0, iIndex-iScrollAt);
//     console.log('test')
//     var destination = document.getElementById("typewriter");
//     destination.innerHTML = sContents + setData.substring(0, iTextPos) + "";

//     if (iTextPos++ == iArrLength) {
//     iTextPos = 0;
//     iIndex++;
//     shouldStop = 1;
//     iArrLength = setData.length;
//     }
// }

   
    
    

var iSpeed = 100; // time delay of print out
var iIndex = 0; // start printing array at this posision
var iArrLength = setData.length; // the length of the text array
var iScrollAt = 20; // start scrolling up at this many lines
 
var iTextPos = 0; // initialise text position
var sContents = ''; // initialise contents variable
var iRow; // initialise current row
 
function typewriter()
{
 sContents =  ' ';
 iRow = Math.max(0, iIndex-iScrollAt);
 var destination = document.getElementById("typewriter");
 
 destination.innerHTML = sContents + setData.substring(0, iTextPos);
 if ( iTextPos++ == iArrLength ) {
  iTextPos = 0;
  iIndex++;
  if ( iIndex != setData.length ) {
   iArrLength = setData.length;
   setTimeout("typewriter()", 500);
  }
 } else {
  setTimeout("typewriter()", iSpeed);
 }
}

// function typewriter(str) {
    
//     var destination = document.getElementById("typewriter");
//     var i = 0
    
//     if (i<str.length) {
    
//         console.log('i: ' + i)
//         var partial_str = str.substring(0, i);
//         console.log('partial_str: ' + partial_str)
 
//         destination.innerHTML = partial_str;
//         i++;
//         setTimeout("typewriter()", iSpeed);
        
//     }
    
//     setTimeout("typewriter()", 500);
// } 
    
    
  

</script></html>
{% endblock %}
