<!DOCTYPE html>
<!-- iCardio.ai -->
<html style="height:100%;overscroll-behavior: none;">

<head>
    <title>iCardio.ai</title>
    <link rel="icon" type="image/png" href="images/favicon-32x32.png" />
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="static/css/materialize.css" media="screen,projection" />
    <!--Import app.css-->
    <link type="text/css" rel="stylesheet" href="static/css/app.css" media="screen,projection" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <!-- Modal Structure -->
<div id="modal1" class="modal">
<div class="modal-content">
  <h4>Drag and Drop</h4>
  <p>To analyze a view, just drag the view from the left navigation into the pane where you'd like to view it.</p>
</div>
<div class="modal-footer">
  <a href="#!" class="modal-close waves-effect waves-green btn-flat">Got It</a>
</div>
</div>
<div class="split-vertical-1 boxA left" id="thumbnails">
    <h2 class="title">iCardio.ai Analysis</h2>
</div>
<div class="handler"></div>
<div class="split-vertical-2 boxB right">
    <div class="split-horizontal top img-analysis">
        <div class="split-display">
            <p class="meta-text-left"></p>
            <p class="meta-text-center"></p>
            <p class="meta-text-right"></p>
            <div ondrop="drop(event)"class="analysis-div">
                <h2 class='title drop-me'>Drop Me Here</h2>
            </div>
        </div>
        <div class="split-display right">
            <p class="meta-text-left"></p>
            <p class="meta-text-center"></p>
            <p class="meta-text-right"></p>
            <div class="analysis-div">
                <h2 class='title drop-me'>Drop Me Here</h2>
            </div>
        </div>
        <div class="report controls">
            <a class="btn report-button" style="margin:0px -4px 0px 0px" disabled>No views selected.</a>
        </div>
    </div>
    <div class="split-horizontal bottom img-analysis">
        <div class="split-display">
            <p class="meta-text-left"></p>
            <p class="meta-text-center"></p>
            <p class="meta-text-right"></p>
            <div class="analysis-div">
                <h2 class='title drop-me'>Drop Me Here</h2>
            </div>
        </div>
        <div class="split-display right">
            <p class="meta-text-left"></p>
            <p class="meta-text-center"></p>
            <p class="meta-text-right"></p>
            <div class="analysis-div">
                <h2 class='title drop-me'>Drop Me Here</h2>
            </div>
        </div>
        <div class="report controls" style="border:none;">
            <a class="btn report-button" style="margin:0px -4px 0px 0px" disabled>No views selected.</a>
        </div>
    </div>
</div>
</body>
</html>
<!-- jquery script -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
<!-- jquery UI script -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
<!-- materialize js -->
<script type="text/javascript" src="static/js/materialize.js"></script>
<!-- scalable verticle divider -->
<script type="application/javascript" src="static/js/divider.js"></script>
<!-- tools -->
<script type="application/javascript" src="static/js/tools.js"></script>
<!-- image controllers -->
<script type="application/javascript" src="static/js/windows.js"></script>