<!DOCTYPE HTML>
<!--
	Team iCardio.ai
-->
<html>
	<head>
		<title>iCardio.ai</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main.css" />
		<noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
        <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon-32x32.png">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Wrapper -->
					<div id="wrapper">

						<!-- Panel (Banner) -->
							<section class="panel banner right">
								<div class="content color0 span-3-75">
									<h1 class="major">Welcome to<br />
									iCardio<strong>.ai</strong></h1>
                                    <p>Echo Analysis in a<br><strong> Heartbeat</strong>
</p>
									<ul class="actions">
										<li><a href="/app"><button style="
    background: red;
    box-shadow: none;
                                            ">Try the webapp (beta)</button></a></li>
									</ul>
								</div>
								<div class="container" data-position="25% 25%">
                                    <img src="static/images/heart1.jpg" class="human-heart" alt="human heart" />
<!--									<img src="images/pic01.jpg" alt="" />-->
								</div>
							</section>

						<!-- Panel (Spotlight) -->
							<section class="panel spotlight medium right" id="first">
								<div class="content span-7">
                                    
									<h2 class="major">Significant Problems</h2>
									<p><strong>Heart Disease</strong> is the leading cause of death in the United States causing <strong>more than 27% of deaths</strong> of those over the age of 65.</p>
                                    <p>By 2010, echocardiography services made up 11 percent of Medicare spending on imaging services, accounting for approximately<strong> $1.2 billion in spending.</strong></p>
                                    <p>US spends an average of $9237 per person per year, of which more than 10% is spent on heart related treatment. </p>
                                    <p>Nearly all cardiology patients undergo an <strong>echocardiogram test.</strong></p>
								</div>
								<div class="image filtered tinted" data-position="top left">
                                     <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 600 300" >
  <path d="
         M0,151h34.1c0.2,0,0.4-0.1,0.5-0.3l1.8-5.3c0.2-0.5,0.9-0.4,1,0.1l1.1,5.9c0.1,0.5,0.9,0.5,1,0l6.4-37
	c0.1-0.6,0.9-0.5,1,0l6.7,55c0.1,0.6,0.9,0.6,1,0l3.9-20c0.1-0.5,0.9-0.5,1,0l0.5,2.3c0.1,0.5,0.9,0.5,1,0l2.5-12.7
	c0.1-0.5,0.9-0.5,1,0l1.9,9.3c0,0.2,0.1,0.2,0.1,0l0.3-1.4c0-0.1,0.1-0.1,0.2,0l1.3,3.9c0.1,0.2,0.3,0.3,0.5,0.3H600
         "></path>
  <path d="
         M0,150h35.1c0.2,0,0.4-0.1,0.5-0.3l1.8-5.3c0.2-0.5,0.9-0.4,1,0.1l1.1,5.9c0.1,0.5,0.9,0.5,1,0l6.4-37
	c0.1-0.6,0.9-0.5,1,0l6.7,55c0.1,0.6,0.9,0.6,1,0l3.9-20c0.1-0.5,0.9-0.5,1,0l0.5,2.3c0.1,0.5,0.9,0.5,1,0l2.5-12.7
	c0.1-0.5,0.9-0.5,1,0l1.9,9.3c0,0.2,0.1,0.2,0.1,0l0.3-1.4c0-0.1,0.1-0.1,0.2,0l1.3,3.9c0.1,0.2,0.3,0.3,0.5,0.3H600"></path>

</svg>
									
								</div>
							</section>

						<!-- Panel -->
							<section class="panel color1">
								<div class="intro joined">
									<h2 class="major">Today's Measurement and Diagnostics of Echocardiograms</h2>
									<p><strong>Dependent</strong> on doctor's availability<br>
                                        <strong>Limited</strong> to doctor's experience as a practicing cardiologist<br>
                                        <strong>Inaccurate</strong> - prone to false negatives and positives<br>
                                        Time <strong>consuming</strong><br>
                                        <strong>Expensive</strong></p>
								</div>
								<div class="inner">
									<ul class="grid-icons three connected">
										
										<li><span class="icon fa-bar-chart"><span class="label">Nullam</span></span></li>
                                        <li><span class="icon fa-user-md"><span class="label">Amet</span></span></li>
                                        <li><span class="icon fa-clock-o"><span class="label">Dolor</span></span></li>
										
										
										
									</ul>
								</div>
							</section>

						<!-- Panel (Spotlight) -->
							<section class="panel spotlight large left">
								<div class="content span-5">
									<h2 class="major">We are building the future of cardiology.</h2>
									<p><strong>AI</strong> enhanced accuracy of reading<br>
                                        Capable of possessing the unnderstanding of <strong> hundreds of world-class cardiologists.</strong>
                                    <br>
                                        <strong>Quickly warns</strong> against false negatives or positives<br>
                                        <strong>Instant results</strong> and live feedback<br>
                                        <strong>Cuts down doctor's cost in half</strong></p>
								</div>
                                <img src="static/images/doc2.jpg">
								<div class="image filtered tinted" data-position="top right">
									<img src="static/images/pic03.jpg" alt="" />
								</div>
							</section>
                        
                        <!-- added pages -->
                        
                        

						<!-- Panel -->
                        <section class="panel spotlight">
								<div class="content span-5">
									<h2 class="major">We are a team of world-class computer scientists and cardioligsts.</h2>
									<p>We are developing the world's most sophisticated <strong>AI cardiologist</strong>. 
                                    </p>
								</div>
							</section>
                                
                        <section class="panel spotlight medium right">
								<div class="content span-7" style="width: 100%">
<!--                                    <h2 class="major">Core Team</h2>-->
                                    
                                    <div class="row">
                                        <div class="card">
                                    <img src="static/images/Joseph.jpg" alt="Avatar" class="avatar">
                                    <p><strong>Joseph Sokol</strong><br>Founder & CEO</p>
                                    <p>Joseph is the leading visionary and technologist of ECGAI. Joseph is a full stack developer with numerous experience in technology startups.</p>
                                            </div>
                                        <div class="card">
                                    <img src="static/images/maximeheadshot.jpg" alt="Avatar" class="avatar">
                                    <p><strong>Maxime Roussakov</strong><br>CTO</p>
                                    <p style="margin: unset">Formally educated in actuarial mathematics, followed passion for programming with a masters in machine learning and stats (neural networks) at University of Montreal, world leader in AI research.</p>
                                            </div>
                                         <div class="card">
                                    <img src="static/images/Philippe.jpg" alt="Avatar" class="avatar">
                                    <p><strong>Philippe Berger</strong><br>Machine Learning, PhD</p>
                                    <p>Philippe earned his PhD in observational cosmology from the University of Toronto. He has published original research analyzing massive radio interferometric datasets and applying machine learning to computational cosmology.</p>
                                            </div>
                                        <div class="card">
                                    <img src="static/images/Joshua.jpg" alt="Avatar" class="avatar">
                                    <p><strong>Dr. Joshua Penn</strong><br>CMO</p>
                                    <p>Dr. Penn founded iCardio Corporation, a mobile medical diagnostics platform for cardiovascular imaging. Dr. Penn sits on the board of advisors for various VCs entering the med-tech sector.</p>
                                            </div>
                                        
                                        </div>

                                    </div>
                            
								<div class="image filtered tinted" data-position="top left">
                                     
								</div>
							</section>

                                        

                        <!--new contact -->
                        <section class="panel spotlight small left" id="first">
								<div class="content span-7">
									<h2 class="major">Join Us</h2>
									<p><strong>Seeking $1.5M in Seed Funding</strong></p>
                                    <p>
                                    Complete algorithm and system infrastructure<br>
                                        Line up sales program as we head through FDA<br>
                                        Money raised matched by government grants<br>
                                        Buys us two years before going into Series A (see expenditures)
                                    </p>
								</div>
								<div class="image filtered tinted" data-position="top left">
                            </div>
                        </section>
                        
                        
                        
                        
                        
						<!-- Panel -->
							<section class="panel color4-alt">
								
                                	<div class="inner columns divided">
									<div class="span-3-25">
										<form method="post" action="#">
											<div class="field half">
												<label for="name">Name</label>
												<input type="text" name="name" id="name" />
											</div>
											<div class="field half">
												<label for="email">Email</label>
												<input type="email" name="email" id="email" />
											</div>
											<div class="field">
												<label for="message">Message</label>
												<textarea name="message" id="message" rows="4"></textarea>
											</div>
											<ul class="actions">
												<li><input type="submit" value="Send Message" class="button special" /></li>
											</ul>
										</form>
									</div>
<!--
									<div class="span-1-5">
										<ul class="contact-icons color1">
											<li class="icon fa-twitter"><a href="#">@untitled-tld</a></li>
											<li class="icon fa-facebook"><a href="#">facebook.com/untitled</a></li>
											<li class="icon fa-snapchat-ghost"><a href="#">@untitled-tld</a></li>
											<li class="icon fa-instagram"><a href="#">@untitled-tld</a></li>
											<li class="icon fa-medium"><a href="#">medium.com/untitled</a></li>
										</ul>
									</div>
-->
								</div>
							</section>

						<!-- Panel -->


						<!-- Copyright -->
							<div class="copyright">&copy; iCardio.ai. Built with &#10084 in Jerusalem.</div>

					</div>

			</div>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/skel.min.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>