<!DOCTYPE html>
<!-- iCardio.ai -->
<html style="height:100%;overscroll-behavior: none;">

<head>
    <title>iCardio.ai</title>
    <link rel="icon" type="image/png" href="images/favicon-32x32.png" />
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="static/css/materialize.css" media="screen,projection" />
    <!--Import app.css-->
    <link type="text/css" rel="stylesheet" href="static/css/app.css" media="screen,projection" />
<!--     <link type="text/css" rel="stylesheet" href="static/css/basic.css" media="screen,projection" /> -->
<!--     <link type="text/css" rel="stylesheet" href="static/css/dropzone.css" media="screen,projection" /> -->
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <main>
    <section>
        <h1 id="try-it-out">Try it out!</h1>
        <div id="dropzone">
            <form action="/upload" method="POST" enctype="multipart/form-data" class="dropzone dz-clickable" id="demo-upload">
                <input type="file" name="dicoms" multiple>
                <input type="submit" value="submit">
             </form>
        </div>
    </section>
</main>
</body>
</html>