<!DOCTYPE HTML>
<!--
	Team iCardio.ai
-->
<html>
	<head>
		<title>iCardio.ai</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main.css" />
		<noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
        <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon-32x32.png">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Wrapper -->
					<div id="wrapper">

						<!-- Panel (Banner) -->
							<section class="panel banner right">
								<div class="content color0 span-3-75">
									<h1 class="major">Welcome to<br />
									iCardio<strong>.ai</strong></h1>
                                    <p>Echo Analysis in a<br><strong> Heartbeat</strong>
</p>
									<ul class="actions">
										<li><a href="/demo"><button style="
    background: red;
    box-shadow: none;
                                            ">See our demo</button></a></li>
                                            <li><a href="/login"><button style="
    background: red;
    box-shadow: none;
                                            ">App Login</button></a></li>
									</ul>
								</div>
								<div class="container" data-position="25% 25%">
                                    <img src="static/images/heart1.jpg" class="human-heart" alt="human heart" />
<!--									<img src="images/pic01.jpg" alt="" />-->
								</div>
							</section>

						<!-- Panel (Spotlight) -->
							<section class="panel spotlight medium right" id="first">
								<div class="content span-7">
                                    
									<h2 class="major">Significant Problems</h2>
									<p><strong>Heart Disease</strong> is the leading cause of death in the United States causing <strong>more than 27% of deaths</strong> of those over the age of 65.</p>
                                    <p>By 2010, echocardiography services made up 11 percent of Medicare spending on imaging services, accounting for approximately<strong> $1.2 billion in spending.</strong></p>
                                    <p>US spends an average of $9237 per person per year, of which more than 10% is spent on heart related treatment. </p>
                                    <p>Nearly all cardiology patients undergo an <strong>echocardiogram test.</strong></p>
								</div>
								<div class="image filtered tinted" data-position="top left">
                                     <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 600 300" >
  <path d="
         M0,151h34.1c0.2,0,0.4-0.1,0.5-0.3l1.8-5.3c0.2-0.5,0.9-0.4,1,0.1l1.1,5.9c0.1,0.5,0.9,0.5,1,0l6.4-37
	c0.1-0.6,0.9-0.5,1,0l6.7,55c0.1,0.6,0.9,0.6,1,0l3.9-20c0.1-0.5,0.9-0.5,1,0l0.5,2.3c0.1,0.5,0.9,0.5,1,0l2.5-12.7
	c0.1-0.5,0.9-0.5,1,0l1.9,9.3c0,0.2,0.1,0.2,0.1,0l0.3-1.4c0-0.1,0.1-0.1,0.2,0l1.3,3.9c0.1,0.2,0.3,0.3,0.5,0.3H600
         "></path>
  <path d="
         M0,150h35.1c0.2,0,0.4-0.1,0.5-0.3l1.8-5.3c0.2-0.5,0.9-0.4,1,0.1l1.1,5.9c0.1,0.5,0.9,0.5,1,0l6.4-37
	c0.1-0.6,0.9-0.5,1,0l6.7,55c0.1,0.6,0.9,0.6,1,0l3.9-20c0.1-0.5,0.9-0.5,1,0l0.5,2.3c0.1,0.5,0.9,0.5,1,0l2.5-12.7
	c0.1-0.5,0.9-0.5,1,0l1.9,9.3c0,0.2,0.1,0.2,0.1,0l0.3-1.4c0-0.1,0.1-0.1,0.2,0l1.3,3.9c0.1,0.2,0.3,0.3,0.5,0.3H600"></path>

</svg>
									
								</div>
							</section>

						<!-- Panel -->
							<section class="panel color1">
								<div class="intro joined">
									<h2 class="major">Today's Measurement and Diagnostics of Echocardiograms</h2>
									<p><strong>Dependent</strong> on doctor's availability<br>
                                        <strong>Limited</strong> to doctor's experience as a practicing cardiologist<br>
                                        <strong>Inaccurate</strong> - prone to false negatives and positives<br>
                                        Time <strong>consuming</strong><br>
                                        <strong>Expensive</strong></p>
								</div>
								<div class="inner">
									<ul class="grid-icons three connected">
										
										<li><span class="icon fa-bar-chart"><span class="label">Nullam</span></span></li>
                                        <li><span class="icon fa-user-md"><span class="label">Amet</span></span></li>
                                        <li><span class="icon fa-clock-o"><span class="label">Dolor</span></span></li>
										
										
										
									</ul>
								</div>
							</section>

						<!-- Panel (Spotlight) -->
							<section class="panel spotlight large left">
								<div class="content span-5">
									<h2 class="major">We are building the future of cardiology.</h2>
									<p><strong>AI</strong> enhanced accuracy of reading<br>
                                        Capable of possessing the unnderstanding of <strong> hundreds of world-class cardiologists.</strong>
                                    <br>
                                        <strong>Quickly warns</strong> against false negatives or positives<br>
                                        <strong>Instant results</strong> and live feedback<br>
                                        <strong>Cuts down doctor's cost in half</strong></p>
								</div>
                                <img src="static/images/doc2.jpg">
								<div class="image filtered tinted" data-position="top right">
									<img src="static/images/pic03.jpg" alt="" />
								</div>
							</section>
                        
                        <!-- added pages -->
                        
                        

						<!-- Panel -->
                        <section class="panel spotlight">
								<div class="content span-5">
									<h2 class="major">We are a team of world-class computer scientists and cardioligsts.</h2>
									<p>We are developing the world's most sophisticated <strong>AI cardiologist</strong>. 
                                    </p>
								</div>
							</section>
                                
                        <section class="panel spotlight medium right">
								<div class="content span-7" style="width: 100%">
<!--                                    <h2 class="major">Core Team</h2>-->
                                    
                                    <div class="row">
                                        <div class="card">
                                    <img src="static/images/Joseph.jpg" alt="Avatar" class="avatar">
                                    <p><strong>Joseph Sokol</strong><br>Founder & CEO</p>
                                    <p>Joseph is the leading visionary and technologist of icardio.ai. Joseph is a full stack developer with numerous experience in technology startups.</p>
                                            </div>
                                        <div class="card">
                                    <img src="static/images/maximeheadshot.jpg" alt="Avatar" class="avatar">
                                    <p><strong>Maxim Rusakov</strong><br>CTO</p>
                                    <p style="margin: unset">Formally educated in mathematics and machine learning at world leading AI research university, University of Montreal, followed passion for software development and tech innovation through leadership roles in numerous institutional projects.</p>
                                            </div>
                                         <div class="card">
                                    <img src="static/images/Philippe.jpg" alt="Avatar" class="avatar">
                                    <p><strong>Philippe Berger</strong><br>Machine Learning, PhD</p>
                                    <p>Philippe earned his PhD in observational cosmology from the University of Toronto. He has published original research analyzing massive radio interferometric datasets and applying machine learning to computational cosmology.</p>
                                            </div>
                                        <div class="card">
                                    <img src="static/images/Joshua.jpg" alt="Avatar" class="avatar">
                                    <p