{% extends "base.html" %}

{% block content %}

<body>
    <!-- Modal Structure -->
<div id="modal1" class="modal">
<div class="modal-content">
  <h4>Drag and Drop</h4>
  <p>To analyze a view, just drag the view from the left navigation into the pane where you'd like to view it.</p>
</div>
<div class="modal-footer">
  <a href="#!" class="modal-close waves-effect waves-green btn-flat">Got It</a>
</div>
</div>
<div class="split-vertical-3 boxA left" id="thumbnails">
    <h2 class="title">iCardio.ai Validation App</h2>
    <section class="validator-section">
        <div class="gif-div draggable"><img class="gif-img draggable" id="imageid" src="example_images/gif_ellipse_3.gif"></div>
        <div class="controls"><a class="waves-effect waves-light btn analysis-button modal-trigger" href="#modal1">Analyze</a></div>
        <h3 class="view">PSAX</h3>
    </section>
</div>
<div class="handler-2"></div>
<div class="split-vertical-4 boxB right">
<div class="validator-controls controls">
    <h4>Choose the closest view</h4>
    <div class="input-field col s12 m6">
    <button class="btn waves-effect waves-light" type="submit" name="action"><i class="material-icons left" style="background-color:transparent">keyboard_arrow_left</i>Previous Image</button>
        <button class="btn waves-effect waves-light" type="submit" name="action"><i class="material-icons right" style="background-color:transparent">keyboard_arrow_right</i>Next Image</button>
    </div>
    <div class="input-field col s12 m6">
    <a class="btn waves-light" id="selection" disabled>No views selected.</a>
    </div>
    <div class="input-field col s12 m6">
        <p>Long Axis</p>
        <a class="waves-light btn main" id="plax">PLAX</a>
        <div class="input-field col s12 m6 sub-options" id="plax_options" style="display:none;">
            <a class="btn">PLAX Paracardial</a>
            <a class="btn">PLAX Aortic Cusps</a>
            <a class="btn">PLAX Mitral Cusps</a>
        </div>        
        <a class="btn main">RVIT</a>
    </div>
    <div class="input-field col s12 m6">  
        <p>Short Axis</p>
        <a class="btn main" id="psax">PSAX</a>
        <div class="input-field col s12 m6 sub-options" id="psax_options" style="display:none;">
            <a class="btn">PSAX Apex</a>
            <a class="btn">PSAX Papillary</a>
            <a class="btn">PSAX Mitral</a>
        </div>
        <a class="btn main" id="psaxa">PSAXA</a>
        <div class="input-field col s12 m6 sub-options" id="psaxa_options" style="display:none;">
            <a class="btn">PSAXA Zoomed Aorta</a>
            <a class="btn">PSAX Pulminary</a>
        </div>
    </div>
    <div class="input-field col s12 m6">
        <p>Apical</p>
        <a class="btn main" id="a4c">A4C</a>
        <div class="input-field col s12 m6 sub-options" id="a4c_options" style="display:none;">
            <a class="btn">A4C Zoomed LV</a>
            <a class="btn">A4C Zoomed RV</a>
            <a class="btn">A4C Zoomed Mitral</a>
        </div>
        <a class="btn main" id="a5c">A5C</a>
        <div class="input-field col s12 m6 sub-options" id="a5c_options" style="display:none;">
            <a class="btn">A5C Zoomed Aorta</a>
        </div>
        <a class="btn main" id="a2c">A2C</a>
        <div class="input-field col s12 m6 sub-options" id="a2c_options" style="display:none;">
            <a class="btn">A2C Zoomed Mitral</a>
        </div>
        <a class="btn main">A3C</a>
    </div>
    <div class="input-field col s12 m6">
        <p>Subcostal</p>
        <a class="btn main">SUBCOSTAL</a>
        <a class="btn main">SUB IVC</a>
        <a class="btn main">SUB Short Axis</a>
        <p>Suprasternal</p>
    </div>
    <div class="input-field col s12 m6">
        <a class="btn main">Suprasternal</a>
    </div>
    <div class="input-field col s12 m6">
        <p>Misc</p>
        <a class="btn main">Other</a>
        <a class="btn main">Unclear Noisy</a>
        <a class="btn main">Unclear Dark</a>
    </div>
    <br>
</div>
</div>
</body>
</html>
<!-- jquery script -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
<!-- jquery UI script -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
<!-- materialize js -->
<script type="text/javascript" src="static/js/materialize.min.js"></script>
<!-- scalable verticle divider -->
<script type="application/javascript" src="static/js/divider.js"></script>
<!-- tools -->
<script type="application/javascript" src="static/js/tools.js"></script>
<!-- image controllers -->
<script type="application/javascript" src="static/js/windows.js"></script>
<script>
$("a.main").click(function(){
    $(".sub-options").css({display:"none"});
});
    
$("a").click(function(){
    var optionsid = $(this).attr("id");
    $("#" + optionsid + "_options").css({display:"block"});
    var selectedView = $(this).html();
    $("a").removeClass("selected");
    $(this).addClass("selected");
    $("#selection").html(selectedView+" Selected").addClass("selected");
});
    
  
    
</script>
{% endblock %}
